<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Angular Top Links</h1>
        <p>Classic sources of information for Angular.</p>
        <p><a class="btn btn-primary btn-lg" href="https://angular.io/docs" role="button">Learn more »</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Top 10 Angular Tutorials, Blogs and Podcasts</h2>
            <p>This is a compilation of the best Angular tutorials, blogs and podcasts that we can systematically use and rely on to Learn and Keep Up with Angular. </p>
            <p><a class="btn btn-secondary" href="https://blog.angular-university.io/top-10-angular-2-tutorials-blogs-and-podcasts/" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Releases Guidance</h2>
            <p>Versions, releases, etc. </p>
            <p><a class="btn btn-secondary" href="https://angular.io/guide/releases" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Ng-bootstrap</h2>
            <p>Angular widgets built from the ground up using only Bootstrap 4 CSS with APIs designed for the Angular ecosystem. No dependencies on 3rd party JavaScript.</p>
            <p><a class="btn btn-secondary" href="https://ng-bootstrap.github.io/#/home" role="button">View details »</a></p>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-4">
            <h2>Learn RxJS</h2>
            <p>Clear examples, explanations, and resources for RxJS.</p>
            <p><a class="btn btn-secondary" href="https://www.learnrxjs.io/" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Cheat Sheet</h2>
            <p>A good summary for fast reference. </p>
            <p><a class="btn btn-secondary" href="https://angular.io/guide/cheatsheet" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Ebooks</h2>
            <p>Free download. </p>
            <p><a class="btn btn-secondary" href="https://www.pdfdrive.com/" role="button">View details »</a></p>
        </div>
    </div>
    <hr>
    <footer>
        <p>© Company 2017</p>
    </footer>
</div>
