<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">angular10bst Project</h1>
        <p class="lead text-muted">Angular 10 Tutorial with Bootstrap.</p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">

        <div class="row">
            <div class="card border-light mb-3 cardx">
                <a class="nav-link" href="/steptwo">
                    <img src="/assets/img/steptwo.jpg" alt="Step Two">
                    <p class="card-text card_text" style="color: #727D93;"></p>
                </a>
            </div>
            <div class="card border-light mb-3 cardx">
                <a class="nav-link" href="/stepthree">
                    <img src="/assets/img/stepthree.jpg" alt="Step Three">
                    <p class="card-text card_text" style="color: #0003F2; text-align: center;"></p>
                </a>
            </div>
            <div class="card border-light mb-3 cardx">
                <a class="nav-link" href="/stepfour">
                    <img src="/assets/img/stepfour.jpg" alt="Step Four">
                    <p class="card-text card_text" style=" text-align: center;"></p>
                </a>
            </div>
            <div class="card border-light mb-3 cardx">
                <a class="nav-link" href="/stepfive">
                    <img src="/assets/img/stepfive.jpg" alt="Step Five">
                    <p class="card-text card_text" style=" text-align: center;"></p>
                </a>
            </div>
            <div class="card border-light mb-3 cardx">
                <a class="nav-link" href="/rxjslab">
                    <img src="/assets/img/card_rsjs.jpg" alt="RxjsLab">
                    <p class="card-text card_text" style="color: #AC5697; text-align: center;">RxJS Lab</p>
                </a>
            </div>
            <div class="card border-light mb-3 cardx">
                <a class="nav-link" href="/qunit">
                    <img src="/assets/img/card_qunit.jpg" alt="QUnit">
                    <p class="card-text card_text" style="color: #AC5697; text-align: center;">QUnit Lab</p>
                </a>
            </div>
        </div>

    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>
